[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-zsh"]
        path = zsh/.oh-my-zsh
        url = https://github.com/ohmyzsh/ohmyzsh.git  
        ignore = dirty
[submodule "git/.git-semantic-commits"]
	path = git/.git-semantic-commits
	url = https://github.com/fteem/git-semantic-commits.git
